@{
    ViewData["Title"] = "Microsoft Cognitive Services - Emotion API Sample";
}


<div class="row">
    <div class="col-md-12">
        <h2>Microsoft Cognitive Services - Emotion API Sample</h2>
        <p>分析したい画像のURLを入力してください。</p>
        @using (Html.BeginForm(
                            "Index",
                            "Home",
                            null,
                            FormMethod.Post
                            ))
        {
            @Html.TextBox("url", "", new { size = 100, disabled = "disabled" })
            <input type="submit" value="リセット" />
        }
    </div>
</div>

<div class="row">
    <h3>@ViewData["Result"]</h3>
    <div class="col-md-2">
        <table border="0" cellpadding="0">
            <tr>
                <td>怒り</td>
                <td>: </td>
                <td>@Html.Encode(ViewData["Anger"])</td>
            </tr>
            <tr>
                <td>軽蔑</td>
                <td>: </td>
                <td>@Html.Encode(ViewData["Contempt"])</td>
            </tr>
            <tr>
                <td>ムカつき</td>
                <td>: </td>
                <td>@Html.Encode(ViewData["Disgust"])</td>
            </tr>
            <tr>
                <td>恐れ</td>
                <td>: </td>
                <td>@Html.Encode(ViewData["Fear"])</td>
            </tr>
            <tr>
                <td>喜び</td>
                <td>: </td>
                <td>@Html.Encode(ViewData["Happiness"])</td>
            </tr>
            <tr>
                <td>無表情</td>
                <td>: </td>
                <td>@Html.Encode(ViewData["Neutral"])</td>
            </tr>
            <tr>
                <td>悲しみ</td>
                <td>: </td>
                <td>@Html.Encode(ViewData["Sadness"])</td>
            </tr>
            <tr>
                <td>驚き</td>
                <td>: </td>
                <td>@Html.Encode(ViewData["Surprise"])</td>
            </tr>
        </table>
    </div>
    <div class="col-md-10">
        <img src="@ViewData["Url"]" width="400" />
    </div>
</div>